<!doctype html>
<html lang="en" ng-app="app">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Tadeu Valentt">
    <title>Tadeu Valentt</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/assets/css/resume.css">
  </head>

  <body>
    <ng-view></ng-view>
  </body>

  <script type="text/ng-template" id="not_found.html">
    <div class="pure-g container text-center">
      <div class="pure-u-1">
      <h2 class="m-t-g">You may be Lost</h2>
      <p>But don't be afraid, getting lost is just another way of saying 'going exploring.</p>
      </div>
    </div>
  </script>

  <script type="text/ng-template" id="resume.html">
    <div ng-if="vm.resume" class="pure-g container">
      <div>
        <aside class="pure-u-1 pure-u-sm-7-24">
          <header class="m-b">
            <h1>
              <span id="name">Tadeu</span> <span id="last-name">Valentt</span>
            </h1>

            <img ng-if="vm.resume.seal" id="zce" class="hidden visible-md" ng-src="{{vm.resume.seal}}"/>
          </header>

          <div class="m-b">
            <h2 ng-bind="vm.resume.about_title"></h2>

            <p ng-bind-html="vm.resume.about|to_trusted"></p>
          </div>

          <div>
            <h2 ng-bind="vm.resume.highlights_title"></h2>
            <ul class="highlights bullets m-b">
              <li ng-repeat="highlight in vm.resume.highlights" ng-bind="highlight"></li>
            </ul>
          </div>

          <div class="hidden visible-md">
            <h2 ng-bind="vm.resume.contact_title"></h2>

            <address>
              tadeu.valentt@gmail.com<br>
              +55 83 99634-4895<br>
              João Pessoa, PB - Brasil<br>
            </address>

            <ul class="social">
              <li>
                <a href="http://stackoverflow.com/users/2611382/t4deu">
                  <i class="fa fa-lg fa-stack-overflow"></i>
                  t4deu
                </a>
              </li>
              <li>
                <a href="http://github.com/t4deu ">
                  <i class="fa fa-lg fa-github"></i>
                  github.com/t4deu
                </a>
              </li>
              <li>
                <a href="http://linkedin.com/in/t4deu">
                  <i class="fa fa-lg fa-linkedin"></i>
                  linkedin.com/in/t4deu
                </a>
              </li>
              <li>
                <a href="https://t4deu.github.io">
                  <i class="fa fa-lg fa-globe"></i>
                  t4deu.github.io
                </a>
              </li>
            </ul>
          </div>
        </aside>

        <div class="content pure-u-1 pure-u-sm-16-24">
          <div id="skills" class="m-b">
            <h2 ng-bind="vm.resume.skills_title"></h2>

            <div class="pure-g">
              <div class="pure-u-1 pure-u-sm-1-2 p-r-s no-p-xs">
                <h3 ng-bind="vm.resume.skills.backend.title"></h3>
                <ul class="skills">
                  <li ng-repeat="skill in vm.resume.skills.backend.items">
                  <p style="width: {{skill.percent}}%">
                      <span ng-bind="skill.title"></span>
                    </p>
                  </li>
                </ul>

                <h3 ng-bind="vm.resume.skills.mobile.title"></h3>
                <ul class="skills">
                  <li ng-repeat="skill in vm.resume.skills.mobile.items">
                  <p style="width: {{skill.percent}}%">
                      <span ng-bind="skill.title"></span>
                    </p>
                  </li>
                </ul>
              </div>
              <div class="pure-u-1 pure-u-sm-1-2 p-l-s no-p-xs">
                <h3 ng-bind="vm.resume.skills.frontend.title"></h3>
                <ul class="skills">
                  <li ng-repeat="skill in vm.resume.skills.frontend.items">
                  <p style="width: {{skill.percent}}%">
                      <span ng-bind="skill.title"></span>
                    </p>
                  </li>
                </ul>

                <h3 ng-bind="vm.resume.skills.methodologies.title"></h3>
                <ul class="skills">
                  <li ng-repeat="skill in vm.resume.skills.methodologies.items">
                  <p style="width: {{skill.percent}}%">
                      <span ng-bind="skill.title"></span>
                    </p>
                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div id="knowledge" class="m-b">
            <h2 ng-bind="vm.resume.tools_title"></h2>
            <p>
              <span class="badge" ng-repeat="tool in vm.resume.tools" ng-bind="tool"></span>
            </p>
          </div>

          <div id="experience" class="m-b">
            <h2 ng-bind="vm.resume.experiences_title"></h2>
            <div ng-repeat="experience in vm.resume.experiences">
              <h3 ng-bind="experience.company"></h3>
              <p ng-bind-html="experience.description|to_trusted"></p>
            </div>
          </div>

          <div class="hidden-md m-t">
            <h2 ng-bind="vm.resume.contact_title"></h2>

            <address>
              tadeu.valentt@gmail.com<br>
              +55 83 99634-4895<br>
              João Pessoa, PB - Brasil<br>
            </address>

            <ul class="social">
              <li>
                <a href="http://stackoverflow.com/users/2611382/t4deu">
                  <i class="fa fa-lg fa-stack-overflow"></i>
                  t4deu
                </a>
              </li>
              <li>
                <a href="http://github.com/t4deu ">
                  <i class="fa fa-lg fa-github"></i>
                  github.com/t4deu
                </a>
              </li>
              <li>
                <a href="http://linkedin.com/in/t4deu">
                  <i class="fa fa-lg fa-linkedin"></i>
                  linkedin.com/in/t4deu
                </a>
              </li>
              <li>
                <a href="https://t4deu.github.io">
                  <i class="fa fa-lg fa-globe"></i>
                  t4deu.github.io
                </a>
              </li>
               <li>
                <a>
                  <i class="fa fa-lg fa-whatsapp"></i>
                  + 55 83 99634-4895
                </a>
              </li>
            </ul>
          </div>
        </div>
        </div>
      </div>
    </div>
  </script>

  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular-route.js"></script>
  <script src="/assets/js/resume.js"></script>
</html>
